!!!
%html
  %head
    %meta{charset: 'utf-8', 'http-equiv' => 'Content-Type', content: 'text/html'}
    %title RRRSpec
    != stylesheet_tag 'application'
    != javascript_tag 'index'
  %body
    .index.container
      .panel.panel-default.active-tasksets
        .panel-heading
          .panel-title Active Tasksets
        %ul.list-group.tasksets

    .index.container
      .panel.panel-default.recent-tasksets
        .panel-heading
          .panel-title Recent Tasksets
        %ul.list-group.tasksets
        %ul.pager
          %li.previous
            %a{href: "#"} &larr; Newer
          %li.pagenum
            Page 42
          %li.next
            %a{href: "#"}Older &rarr;

    %script#taskset-template{type: 'text/template'}
      %ul
        %li.taskset-status
          {{status}}
        %li
          %a{href: "/tasksets/{{id}}"} tasksets/{{id}}
        %li.pull-right
          {{date created_at}}
        %li.username.pull-right
          {{rsync_name}}
