!!!
%html
  %head
    %meta{charset: 'utf-8', 'http-equiv' => 'Content-Type', content: 'text/html'}
    %title Taskset - RRRSpec
    != stylesheet_tag 'application'
    != javascript_tag 'tasksets'
  %body
    #notfound-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            Not found

    .taskset.hidden
      .head

      .progressbars
        %h5 FILES
        .spec-progress
          .spec-progress-bar
          .passed-spec-bar
          .pending-spec-bar
          .failed-spec-bar

        %h5 EXAMPLES
        .example-progress
          .passed-example-bar
          .pending-example-bar
          .failed-example-bar

      .tasklist
        .tasklist-heading.panel-heading FAILED TASKS
        %ul.list-group.tasklist-list
          %li.list-group-item
            %ul.tasklist-header
              %li.taskstatus Status
              %li.file File
              %li.trial-count Trials
              %li.estimate-sec Avg.

      .worker-logs
        .panel-heading WORKERS
        %ul.list-group.worker-logs-list

      .slaves
        .panel-heading SLAVES
        %ul.list-group.slaves-list

      %script#head-template{type: 'text/template'}
        .panel-heading.clearfix
          %h4.panel-title
            %a.name{data: {toggle: 'collapse'}, href: '#taskset-info'} {{key}}
          %span.label.status {{status}}
        #taskset-info.panel-collapse.collapse
          .panel-body
            %dl
              %dt Name
              %dd.name {{key}}
              %dt Status
              %dd.status {{status}}
              %dt Created
              %dd.created-at {{date created_at}}
              %dt Finished
              %dd.finished-at {{dateWithDuration finished_at created_at}}
              %dt RSync Name
              %dd.rsync-name {{rsync_name}}
              %dt Max Trials
              %dd.max-trials {{max_trials}}
              %dt Max Workers
              %dd.max-workers {{max_workers}}
              %dt Unknown spec timeout sec
              %dd.unknown-spec-timeout-sec {{unknown_spec_timeout_sec}}
              %dt Least timeout sec
              %dd.least-timeout-sec {{least_timeout_sec}}
              %dt Taskset class
              %dd.taskset-class {{taskset_class}}
              %dt Worker type
              %dd.worker-type {{worker_type}}

            %h5 SETUP COMMAND
            %pre.setup-command {{setup_command}}

            %h5 SLAVE COMMAND
            %pre.slave-command {{slave_command}}

            %h5 LOG
            %pre.log {{log_text}}

      %script#tasklist-template{type: 'text/template'}
        %ul.tasklist-item.header
          %li.taskstatus {{status}}
          %li.file {{spec_file}}
          %li.trial-count {{trials.length}}
          %li.estimate-sec {{estimate_sec}}
        .body.collapse.trials

      %script#trial-template{type: 'text/template'}
        .panel-heading
          .panel-title {{key}}
        %dl
          %dt Status
          %dd {{status}}
          %dt Started
          %dd {{date started_at}}
          %dt Finished
          %dd {{dateWithDuration finished_at started_at}}
          %dt Slave
          %dd
            %a{href: "#slave/{{slave.key}}"} {{slave.key}}
          %dt Passed
          %dd {{passed}}
          %dt Pending
          %dd {{pending}}
          %dt Failed
          %dd {{failed}}

        %h5 STDOUT
        %pre.log
          {{stdout}}

        %h5 STDERR
        %pre.log
          {{stderr}}


      %script#worker-log-template{type: 'text/template'}
        .header {{ key }}
        .body.collapse
          %dl
            %dt Name
            %dd {{key}}
            %dt Started
            %dd {{started_at}}
            %dt RSync Finished
            %dd {{dateWithDuration rsync_finished_at started_at}}
            %dt Setup Finished
            %dd {{dateWithDuration setup_finished_at rsync_finished_at}}
            %dt Finished
            %dd {{dateWithDuration finished_at setup_finished_at}}

          %h5 LOG
          %pre.log
            {{log_text}}

      %script#slave-template{type: 'text/template'}
        .header
          {{key}}
          .exit-status
            {{status}}
        .body.collapse
          %h5 TRIALS
          %ol
            {{#trials}}
            %li
              %a{href: "#trial/{{encoded_key}}"} {{key}}
            {{/trials}}

          %h5 LOG
          %pre.log
            {{log_text}}
