!!!
%html
  %head
    %meta{charset: 'utf-8', 'http-equiv' => 'Content-Type', content: 'text/html'}
    %title Taskset - RRRSpec
    != css :application
    != js :tasksets
  %body
    #notfound-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-body
            Not found

    .taskset.hidden
      .head
      .progressbars
        %h5 FILES
        .spec-progress
          .spec-progress-bar
          .passed-spec-bar
          .pending-spec-bar
          .failed-spec-bar

        %h5 EXAMPLES
        .example-progress
          .passed-example-bar
          .pending-example-bar
          .failed-example-bar

      .tasklist
        .panel-heading FAILED TASKS
        %ul.list-group.tasklist-list
          %li.list-group-item
            %ul.tasklist-header
              %li.taskstatus Status
              %li.file File

      .panel.panel-default.worker-logs
        .panel-heading WORKERS
        %ul.list-group.worker-logs-list

      .panel.panel-default.slaves
        .panel-heading SLAVES
        %ul.list-group.slaves-list

      %script#head-template{type: 'text/template'}
        .panel-heading.clearfix
          %h4.panel-title
            %a.name{data: {toggle: 'collapse'}, href: '#taskset-info'} {{id}}
          %span.label.status {{status}}
        #taskset-info.panel-collapse.collapse
          .panel-body
            %dl.dl-horizontal
              %dt Status
              %dd.status {{status}}
              %dt Created
              %dd.created-at {{date created_at}}
              %dt Finished
              %dd.finished-at {{dateWithDuration finished_at created_at}}
              %dt RSync Name
              %dd.rsync-name {{rsync_name}}
              %dt Max Trials
              %dd.max-trials {{max_trials}}
              %dt Max Workers
              %dd.max-workers {{max_workers}}
              %dt Taskset class
              %dd.taskset-class {{taskset_class}}
              %dt Worker type
              %dd.worker-type {{worker_type}}

            %h5 SETUP COMMAND
            %pre.setup-command {{setup_command}}

            %h5 SLAVE COMMAND
            %pre.slave-command {{slave_command}}

            %h5 LOG
            %pre.log.pre-scrollable {{log}}

      %script#tasklist-template{type: 'text/template'}
        %ul.tasklist-item.header
          %li.taskstatus {{status}}
          %li.file {{spec_path}}
        .body.collapse.trials

      %script#trial-template{type: 'text/template'}
        %dl.dl-horizontal
          %dt Name
          %dd trial/{{id}}
          %dt Status
          %dd {{status}}
          %dt Started
          %dd {{date started_at}}
          %dt Finished
          %dd {{dateWithDuration finished_at started_at}}
          %dt Slave
          %dd
            %a{href: "#slave/{{slave.id}}"} slave/{{slave.id}}
          %dt Passed
          %dd {{passed}}
          %dt Pending
          %dd {{pending}}
          %dt Failed
          %dd {{failed}}

        %h5 STDOUT
        %pre.log.pre-scrollable
          {{stdout}}

        %h5 STDERR
        %pre.log.pre-scrollable
          {{stderr}}


      %script#worker-log-template{type: 'text/template'}
        .header worker/{{id}}
        .body.collapse
          %dl.dl-horizontal
            %dt Name
            %dd {{worker_name}}
            %dt Started
            %dd {{date started_at}}
            %dt RSync Finished
            %dd {{dateWithDuration rsync_finished_at started_at}}
            %dt Setup Finished
            %dd {{dateWithDuration setup_finished_at rsync_finished_at}}
            %dt RSpec Finished
            %dd {{dateWithDuration rspec_finished_at setup_finished_at}}

          %h5 LOG
          %pre.log.pre-scrollable
            {{log}}

      %script#slave-template{type: 'text/template'}
        .header
          slave/{{id}}
          .exit-status.pull-right
            {{status}}
        .body.collapse
          %h5 TRIALS
          %ol
            {{#trials}}
            %li
              %a{href: "#trial/{{id}}"} trial/{{id}}
            {{/trials}}

          %h5 LOG
          %pre.log.pre-scrollable
            {{log}}
